<vuejs-datepicker
        :id="cid_"
        :calendar-button=true
        :format="format_"
        :name="name_"
        :placeholder="placeholder_"
        :value="value_"
        calendar-button-icon="lu-zmdi lu-zmdi-calendar"
        calendar-class="lu-data-picker"
        :clear-button="readonly_ != true && disabled_ != true"
        :disabled="disabled_ == true"
        :calendar-class="readonly_ == true ? 'hidden' : ''"
        :typeable = "readonly_ != true"
        clear-button-icon="lu-zmdi lu-i-c-2x lu-zmdi-close"
        input-class="lu-form-control"
        @input="onChangeDate"
        :ref="cid_"
></vuejs-datepicker>
